<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Machat, <%= @user.name %></h1>
    <p>
      	You have successfully signed up to <a href="index#index">Machat</a>
      	your username is: <%= @user.login %>.<br>
    </p>
    <p>
    	You adopted a kitten, Machat thanks you for joining, have a great day and look at it!</p>
    <div>
	<img src="images/item-cart-02.jpg" alt="IMG">
	</div>
  </body>
</html>
