/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #user_form{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    padding-right: 10px;
    padding: 5px;
    text-align: center;
    z-index: 9;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.29);
    border-radius: 5px;

   label{
       font-size:17px;
       color:black;
   }
    .field{
        margin-bottom: 20px;
    }
    input{
        width: 80%;
        height: 25px;
        border: 1px solid #0097A7!important;
        border-radius: 2px;
        &:focus{
            border: 2px solid #1BBC9B!important;
        }

        
    }
    .btn_login
    {
        width:20%;
        height: 40px;
        border:2px solid #0097A7;
        color:#0097A7;
        font-size: 16px; 
        margin-bottom: 20px; 
        
       
    }
    .btn_login:hover{
        background-color: #00796B;
        border:none;
        border-radius:20px;
        color:white;
        transition: all 0.8s;
        
    }
      
}


.show_form_bckg
{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index:-1;
    filter:blur(2px);
  }
  
  .btn-back{
      border: 1px solid #c8d6e5;
      margin-top: 10px;
      margin-left: 15px;
      font-size: 20px;
      padding:10px;
      box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.51);
      background-color:rgba(0,0,0,0.2);
      &:hover{
        color:#0097A7;
        background-color:white;
        transition: all 0.6s;
        }
        a{
            text-decoration: none;
            color:white;
            
            &:hover{
                color:#0097A7;
                
                }
        }
  }
