<%= form_tag charges_path do %>
<% total = 0 %>
<% current_user.cart.items.each do |item| %>
<% total += item.price %>
<% end %>

  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %> 
    <label class="amount">
      <span>Prix total: <%= total %>€</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="item.price"
          data-locale="auto">
          
          </script>
<%end%>